xml/animal.xsd

<?xml version="1.0"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.zoo.com"
    elementFormDefault="qualified"
>

<xs:element name="animal">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="name" type ="xs:string"/>
            <xs:element name="gender" type ="xs:string"/>
            <xs:element name="age" type ="xs:integer" default="-1"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>
</xs:element>

</xs:schema>

