xml/employee.xsd

<?xml version="1.0"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.zoo.com"
    elementFormDefault="qualified">

<xs:element name="zoo" type="Tzoo"/>

<xs:complexType name="Tzoo">
<xs:sequence>
    <xs:element name="employee" type ="Temployee"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Temployee">
<xs:sequence>
    <xs:element name="name" type ="xs:string"/>
    <xs:element name="gender" type ="xs:string"/>
    <xs:element name="age" type ="xs:integer" default="-1"/>
</xs:sequence>
</xs:complexType>

</xs:schema>

