xml/employee.xsd

<?xml version="1.0"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.zoo.com"
    elementFormDefault="qualified">
<xs:element name="employee">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="name" type ="xs:string"/>
            <xs:element name="gender" type ="xs:string"/>
            <xs:element name="age" type ="xs:integer" default="-1"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>

